.work-obj {
	background-size:cover;
}
#contactus {
	height:auto;
}
 #jumbotron hgroup h1 {
    font-size:15em;
 }
 #service-narbar ul {
	margin: 0;
	padding: 0;
		li {
		width:100%;
		clear:both;
	} 
}