#footer{
	height:35vh;
	background:$teal-alt;
	color:#fff;
	font-family:$secondary-font;
	ul,li {
		list-style:none;
	}

	i.surge-logo-symbol {
		font-size:5em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		display:block;
	}
	.copyRight{
		// margin-top:0.1em;  
		.title{
			font-size: 24px;
		}
	}
	label {
			display:none !important;
		}
	.signUp{
		text-align: center;

		.gform_heading{
			margin-top: .25em;
			h3{
    			margin: 0;
    			text-align:center;
			}
		}
		.gform_body{
			margin-left: 10%;
			width: 60%;
			float: left;
			display: inline-block;
			.ginput_container input{
				width:100%;
				height:3em;
				padding-left:1em;
			}
			ul{
				padding:0;
				width:100%
			}
		}
		.gform_footer{
			    width: 20%;
			    float: left;
			    padding-top: 1.45em;
			    clear: none;
			    padding: 0px;
			    margin: 5px 0px 0px 0px;
			input[type="submit"]{
				width: 100%;
				height: 3em;
				background: $yellow;
				border:0;
				color:$teal-dark;
			}
		}
	}
	.followUs{
		text-align: center;
		.title{
			font-size: 24px;
		}
		ul{
			padding:0;
			margin-top:1em;
			li{
				display: inline-block;
				font-size:2em;
				padding-right:10%;
				i{
					color:#fff;
				}
			}
			li:last-child{
				padding-right:0;
			}
		}
	}
}