#navtag {
	background:$yellow;
	position:fixed;
	z-index:9999;
	width: 73px;
    overflow: hidden;
    height: 68px;
    transition: 0.3s ease all;
	.menu-main-menu-container {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    float:left;
	}
	.brand {
		display:inline-block;
		float:left;
		i {
			color:#fff;
			height:100%;
			padding: 0em 0.52em 0em 0.52em;
		    display: inline-block;
		    line-height: 2.2em;
		    margin: 0px;
		    font-size: 3.6em;
			display:inline-block;
			text-align:center;
			background:$teal;
			
		}
	}
	
		.navbar {
		display: inline-block;
	    background: 0 0;
	    border: 0;
	    color: #fff;
	    margin: 0px;
	    padding: 0px;
	    width: auto;
	    float:right;
	    background:none;
	    #primary-navigation {
	    	padding:0px;
			
		    a {
		    	color:$teal-dark;
		    	font-family: $primary-font;
				border-right:1px solid rgba($yellow-dark,0.1);
				 text-transform: uppercase;
				 padding: 1.5em 0.7em 1.55em 1em;
				 line-height: 1.8em;
				 height: 100%;
				transition: 0.3s ease all;
				font-size:1.34em;
				
		    }
		    li:last-child a{
					border-right:0px solid $yellow-dark;
				}
		}
	}
	&:hover {
		width:415px;
		transition: 0.3s ease all;
					transition: 0.3s ease all;

		.brand {
			i {
				background:#fff;
				color:$teal;
				    padding: 0 .15em;
				    // font-size: 7em;
				    line-height: 1em;
				    vertical-align: top;
					transition: 0.3s ease background-color;
					transition: 0.3s ease content;
		   			font-size:11em;


				&:before {
					content:'\0042';
					line-height: 0.5em;
					transition: 0.3s ease background-color;
					transition: 0.3s ease content;


				}
			}
		}
	}
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background:none;
	text-decoration: underline;
}
