/*=================================
=            Home Page            =
=================================*/
#jumbotron {
height:100vh;
overflow:hidden;
position: relative;
	#video-bg {
		position: absolute;
		top:0px;
		left:0px;
		width:100%;
		z-index:-1;
	}
	hgroup {
		position: relative;
	    left: 0px;
	    text-shadow:none;
	    h1 { 
	    	font-size:20em; 
	    	margin:0px; 
	    	padding: 0;
	    	 line-height:0.8em;
	    	a { 
	    		color:#fff;
	    		text-decoration:none;
				&:hover { text-decoration:none; }
	    	}
	    	&:hover + h2 {
	    		color:$yellow;
	    		
	    	}
	    }
	    h2 { 
		@extend .p1;
	     margin:0px;
	     padding: 0; }
	}
	#carousel-id {
		height:100vh;
		z-index:99;
		position: relative;
		.carousel-inner {
			.item {
				// display:table-cell;
				// vertical-align: middle;
				padding:20em 0 0 0;
				z-index:99;
				// position: relative;
				height:100vh;
				transition:0.4s opacity;
			}
			.item.active {
				opacity: 1;
				transition:0.4s opacity;
			}
			.next.left
			  .prev.right {
			    opacity: 1;
			    z-index: 1;
				transition:0.4s opacity;
 
			  }
			  .active.left,
			  .active.right {
			    opacity: 0;
			    z-index: 2;
				transition:0.4s opacity;

			  }
		}
		.carousel-control {
				background: none;
				display:none;
			}
	}
}
.big-paragraph,
#main-content {
	border:4px solid #fff;
	font-family:$secondary-font;
	min-height:50vh;
	background: $teal-dark;
	color:#fff;
	padding-top:3em;
	padding-bottom:4em;

	p {
		@extend .p3;
		font-weight: 100;
		line-height: 1.7em;
	}
	main {
		display:block;
		margin:2em auto 1em auto;
		width:60%; 
		float:none;
		position:relative;

	}
	small {
		margin-top: 1em;
		font-family:$thin-font;
		text-transform:uppercase;
		color:$light-blue;
		font-size:2.4em;
	}
}
#main-content  {
	.surge-icon-quotation_mark_start,
	.surge-icon-quotation_mark_end {
	position:absolute;
	top:0px;
	}
	.surge-icon-quotation_mark_start {
    left: -1.8em;
	top: 0.5em;
    font-size: 4em;
	}
	.surge-icon-quotation_mark_end {
	right: -1.8em;
    font-size: 4em;
    left: auto;
    top: 85%;
	}

}

#work {
	border-bottom:4px solid $blue;
	
}

#casestudy {
	hgroup {
		margin:10em 0 2em 0;
		display:block;
	}
	h1 {
		color:$blue;
		@extend .h2;
		font-weight: 500;
		font-family: $primary-font;
		margin-bottom:0.5em;
	}
	p { 
		@extend .p3;
		font-weight: 100;
	}
	.casestudy-obj {
		text-align:center;
		height:180px;
		margin-top:($grid-gutter-width*2);
		a {
			display:block;
			width:100%;
			text-align:center;
			img {
				// width:50%;
				float:none;
				position:relative;
				top:-50px;
			}
		}
	}
}

/*=======================================
=            Case Study Page            =
=======================================*/
.caseStudy-paragrah {
	min-height:50vh;
	.container-fluid {
	min-height:50vh;
	background-size:100% auto;
	background-repeat:no-repeat;
	position:relative;
	&:before {
		@extend .pattern-bg;
		content:"";
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: 50vh;
	}
	}

}

/*==================================
=            About Page            =
==================================*/
#about {
	border-bottom:4px solid $blue;
}

#our_staff {
	background-position:50% 100%;
	position:relative;
	&:before {
		content:"";
		background-color:rgba(#fff,1);
		opacity:0.8;
		position:absolute;
		top:0px;
		left:0px;
		width: 100%;
		height: 100%;		
	}
	
	h2 {
		color:$teal;
		font-family: $primary-font;
		font-weight: 400;
		margin-bottom: 0.7em;
	}
	
	.text-puff {
		width:60%;
		position:relative;
		z-index:999;
		p {
			@extend .p6;
		}
	}
}
#about {
	h2.alt {
    font-size: 4em;
	}
	.text-puff p {
		@extend .p5;
		font-weight: 200;
	    font-size: 1.6em;
	    line-height: 2em;
	}
}
/*==================================
=            Contact Us            =
==================================*/
#contactus {
	position:relative;
	z-index:99;
	h1 {
		font-size:6em;
		font-family:$primary-font;
		margin-top: 2.8em;
		color:#fff;
	}
	p {
		@extend .p6;
		color:rgba(#fff,0.8);
		font-weight: 100;
		//color:#fff;

	}
	.gform_heading {
		display:none !important;
	}
	.col-md-6 {
	font-size:1.5em;
		.gfield_label { display:none !important;}
		input,textarea {
			padding:0.5em;
			border:2px solid $grey;
			margin-bottom:0.5em;
			opacity:0.8;
			&:focus {
				opacity:1;
			}
		}

		float:none;
		margin: 1em auto;
		display:block;
		overflow:hidden;
		
		.gform_footer {
			display:block;
			margin: 0 0.8em;
			input[type="submit"]{
					// width: 4em;
					height: 3em;
					padding:0em 3em;
					background: $yellow;
					border:0;
					color:$teal-dark;
					float:right;
					font-family:$primary-font;
					text-transform:uppercase;
					font-weight: bold;

				}
			}
	}

}
#contact-info {
	h2 {
		font-family:$thin-font;
		// font-size: 1.7em;
		margin-bottom: 1em;
	}
	ul,li {
		    text-align: left;
			    width: 100%;
			    clear: both;
	}
	i {
		font-size:2.4em;
    margin-right: 1em;
    line-height: 2.7em;
    display: inline-block;
    float: left;
	}
	span {
		@extend .p5;
		font-family:$primary-font;
		    line-height: 1.3em;
		    display: inline-block;
		    float: left;
		    margin-top: 0.5em;
	}

}



