div#gform_confirmation_message_1 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
    color: $yellow;
    line-height: 1.7;
}
.entry-content {
	.gfield_required {display:none;}
.gform_footer{
					display:inline-block;
					width:100%;
			    float: right;
			    clear: none;
			    font-size:1.5em;
			    margin-top: 0em;
					margin-right: 1em;
					padding:0px 0 2em 0;

			input[type="submit"]{
				width: auto;
				padding:1em;
				height: 3.3em;
				float:right;
				background: $yellow;
				border:0;
				color:$teal-dark;
				font-weight: 400;
				text-transform: uppercase;
				font-family:"Klavika Basic";
				font-size: 1.5em;
			}

		}
}