.ghost-paragraph {
	margin: 3.8em 0em;
	background:rgba(#fff,0.9);
	padding:2em 1em 2em 1em;
	text-align:center;
	overflow:hidden;
	h2 {
		@extend .h1;
		color:$teal;
		font-size:6em;
		margin-bottom: 0.7em;	
	}
	p {
		@extend .p5;
		color:rgba(#000,0.7);
    	font-size: 1.8em;
    	line-height: 1.8em;
    	width:80%;
    	float:none;
    	margin: 0 auto;
	}
	.url,
	.text-btn {
		//margin-top:1em;
		//margin-bottom: 1em;
		text-transform: uppercase;
		font-family:$secondary-font;
		background-color:transparent;
		border:0px;
		box-shadow:0px;
		@extend .p5;
		display:block;
		color:#000;
		display:block;
		margin: 2em auto;
		font-size: 1.9em;
		font-weight:300;
		&:hover {
			text-decoration: underline;
		}
	}
}
.post-edit-link {
	display:none;
}