#our_skills{

  .text-puff{
  	h2,p{

  	}
  }
	.button-skills{

		.icon--ei-close{
		
		}
		.buttons{
		
			.button-item{
			
				a:first-child{
					

				}
				.content{
					
				}
				.link{
					
			   	i{
			   		
    			}
			    div{
			    	
			    }
			  }
			}
		}
		#contact-form{
			

			.gform_heading { 	}
			.gfield_label {  }
			p{
				
			}
			input,textarea {
			
			}
			textarea{
			}	
			.gform_body{
				ul{
					li{
					
						&.gfield_error{
    				}
					}
					li:last-child{
					}
				}
			}
			.gform_footer {
			
				input[type="submit"]{
				

				}
			}
		}
		&.expanded{
			
			.buttons{
				
				width:50%;
				.button-item{
					
					a:first-child{
					
					}
					.content{
					}
					ul,
					p{
					
					}
					ul{
					}
				}
			}
		}
	}
}