/*=================================
=            Home Page            =
=================================*/
#jumbotron {
	height: 400px;
	background:$teal;
	.pattern-bg {
		background:none !important;
		background-image:none !important;
		background-color:transparent !important;
		&:before {
			background:none !important;
			background-image:none !important;
			background-color:transparent !important;
		}
	#carousel-id .carousel-inner .item {
	padding-top:15em;
	}
	hgroup {
		font-size:1.8em;
		h1 {
			font-size:4em;
		}
		h2 {
			font-size:1em;
		}
		}
	}
}
.work-obj {
	background-size:cover;
	height:410px;
	min-height:inherit;
}

#main-content,
.big-paragraph {
main {
	width:100%;
	padding: 0 2em;
} 
	p{
	font-size: 2em;
}
small {
	font-size:1.4em;
}

.surge-icon-quotation_mark_start,
	.surge-icon-quotation_mark_end {
	position:absolute;
	top:0px;
	}
	.surge-icon-quotation_mark_start {
    left: 1em;
    top: -1em;
    font-size: 2em;
    opacity: 0.1;
	}
	.surge-icon-quotation_mark_end {
	right: 1em;
    left: auto;
    top: 95%;
    left: auto;
    font-size: 2em;
    opacity: 0.1;
	}
}

#jumbotron.big-background {
	background-size:auto 100%;
	background-position:center;
	.surge-icon-quotation_mark_start,
	.surge-icon-quotation_mark_end {
		display:none;
	}
	.quote {
		width:100%;
		margin: 6em auto 0em;
		font-size:2em;
	}
}
#our_staff {
	background-size:auto 100%;
	background-position:center;
		background-repeat:no-repeat;
	.text-puff {
		width:90%;

	}
}

#casestudy {
	hgroup {
		margin: 5em auto;
		h1 { font-size:5em;
		margin-bottom: 0.3em;
		 }
		p { font-size:1.7em; }
	}
}

#staff-objs { 
	article {
		height:auto;
		.description{
			ul{
				padding-left:0;
			}
			.textbox{
				padding:2em 0;
			}
		}
		.link {
			display:none;
		}
		h1 {
			margin: 1em 0 0 0;
			font-size: 2.6em;
		}
	
		.textbox {
			opacity:1 !important;
			p {
			width:90% !important;
			}
		}
		.img {
			    display: block;
			    clear: both!important;
			    height: auto;
			    width: auto;
			    img {
			    	position: initial;
    				height: auto;
			    }
		}
	}
}

#contact-info {
	h2 {
		font-size:4em;
	}
	ul,li {
		text-align: center;
		padding: 2em 0;
    	position: relative;
		i,span {
			float:none;
		}
		i {
			font-size: 2.4em;
    margin: 0;
    line-height: 2.7em;
    display: inline-block;
    position: absolute;
    opacity: .1;
    left: 0;
    right: 0;
    top: -.5em;
    bottom: 0;
    z-index: 1;
    font-size: 6em;
		}
	}
}
/*===================================
=            About PAges            =
===================================*/
#our_skills{

	.button-skills{

		.icon--ei-close{
			
		}
		.buttons{
		 	width: 100%;
			.button-item{
			
				a:first-child{
				
				}
				.content{
				}
				.link{
				
			   	i{
			   	
    			}
			    div{
			    
			    }
			  }
			}
		}
		#contact-form{
		padding:1em;

			.gform_heading { 	}
			.gfield_label {  }
			p{
				
			}
			input,textarea {
			 width:100%;
			}
			textarea{
				
			}	
			.gform_body{
				ul{
					li{
						width: 100%;
						&.gfield_error{
					   
    				}
					}
					li:last-child{
						
					}
				}
			}
			.gform_footer {
				
				input[type="submit"]{
					

				}
			}
		}
		&.expanded{
			width: 100%;
			.buttons{
				
				.button-item{
					min-width: initial;
					a:first-child{
						padding:0;
						font-size: 4em;
					}
					.content{
					  
					}
					ul,
					p{
						padding:0;
					}
					ul{
						padding-left:1em;
					}
				}
			}
		}
	}
}




/*==============================
=            Footer            =
==============================*/
#footer .copyRight{
	text-align: center;
}
.ghost-paragraph {
	margin-top :0px;
&.pull-right{ 
float:left !important;
overflow:hidden;
	}
	h2 {
	font-size: 4em;
 }
 p {
 	width:100%;
 }
}
#caseStudyModal { 
		.modal-dialog {
		width:94vw;
		.modal-content { 
			iframe {
				//height: auto;
				height:330px;
			}
		}
	}
	button.close {
		top:auto;
		right:0px;
		bottom:-2.2em;
	}
}


#service-narbar ul {
	margin: 1em 0;
	padding: 0;
		li {
			margin: 0 0 2em 0;
		width:100%;
		clear:both;
	} 
}

.blog #jumbotron h1 {
	margin: 1.5em auto .1em auto;
	font-size: 4.5em;
}