.controls {
	color:#fff;
	position:absolute;
	right:0px;
	top: 19vh;
    z-index: 999;
    &.left {
    	right:auto;
    	left:0px;
    }
	div {
		color:#fff;
	    width: 35px;
	    height: 35px;
	    background:$yellow;
	}
	div + div {
		margin-top: 1px;
	}
}

.controls-posts{
	@extend .controls;
	width:4em;
	position: fixed;
	div {
		text-align: center;
		padding: 0.6em;
		&:before{
			font-size: 2em;
		}
		a{
			width: 100%;
	    height: 100%;
	    display: block;
	    position: absolute;
	    top: 0;
		}
	}
}