#jumbotron {
	border-bottom:4px solid #fff;
	&::before {
		@extend .pattern-bg;
		@extend .before_auto;
		background-color:rgba(#000,0.4);
	}	

		.quote {
		    color: #fff;
		    line-height: 1.7em;
		    font-size: 4em;
		    width: 75%;
		    margin: 6em auto;
		    text-transform: normal;
		    position: relative;
		    z-index:99;

		    .surge-icon-quotation_mark_start {
		    	    display:none;
		    }
		    .surge-icon-quotation_mark_end {
		    	    display:none;
		    }

	}
	&.size-s {
		height:350px;
		.quote {
			margin-top: 3.5em;
			font-size: 3.5em;
		}
	}
	&.blog {
		h1{
			position:relative;
			z-index: 10;
			width:70%;
			margin: 1em auto 0.1em auto;
			display:block;
			color:#fff;
			@extend .h3;
			font-size:6em;
		}
		a {
			position:relative;
			z-index: 10;
			padding:1em 2em;
			@extend .button-extender;
			display:inline-block;
			margin:0 auto;
		}
	}
	&.size-xs {
		height:150px;
	}	
}