.work-obj {
		display:inline-block;
		margin:0px;
		position: relative;
		overflow:hidden;
		min-height:485px;
		background-position: center;
		background-size:cover;
		.overlay {
				button.text-btn {
				    background: none;
				    border: 0px;
				}

				button.text-btn:hover {
				    text-decoration: underline;
				}
			height:100%;
			width:100%;
			// left:0px;
			// top:0px;
			position: absolute;
			//transform: translate(0,100%);
			top:100%;
			left:0px;
			transition:0.4s ease all;
			text-align: center;
			height: 100%;
		    width: 100%;
		    // left: 0;
		    // top: 0;
		    position: absolute;
		    display: flex;
		        text-align: center;
   				 align-items: center;
   				 @extend .pattern-bg;
			hgroup {
				display:table-cell;
				vertical-align: middle;
				margin: 0;
				padding: 0;
				display: block;
   				width: 100%;
   				color:#fff;
   				h1 { @extend .p3; margin-bottom: 0px;}
   				h2 { @extend .p4; margin-top: 0px;}

   				a {
   					color:#fff;
   				}
			}
			
		}
		&.hover_effect,
		&:hover {
			.overlay {
			// transform: translate(0,0);
			top:0px;
			transition:0.4s ease all;
			 
			}
		}
		&.spacer {
			.overlay-layer {
				left:0px;
				top:0px;
				width:100%;
				height: 100%; 
				position: absolute;
				background-color: rgba(0,0,0,0.7);
				 @extend .pattern-bg;
				color:#fff;
				text-align: center;
				hgroup {
					
				}
				h3 {
					margin-top: 3em;
					width:100%;
					display: block;
					clear:both;
					font-size:4.5em;
				}
				p {
					width:70%;
					display: block;
					text-align: center;
					margin: 0 auto;
					clear:both;
					@extend .p4;
					font-size:2em;
				}
				.btn {
					margin-top: 1em;
					background-color:rgba(0,0,0,0.5);
					border: 2px solid #fff;
					color:#fff;
					padding: 1em 1em;
					display: inline-block;
					font-size: 1.6em;
					text-transform: uppercase;
					border-radius:0px;
					&:hover {
						background-color:$yellow;
						color:$yellow-dark;
					}

				}
			}
		}
	}

.showcase-obj {
    padding: 0px;
    background:#000;
    	    min-height: 538px;
    iframe {
    	height:100%;
    	position:absolute; 
    	top:0px;
    	left:0px;
    	width:100%;
    }
}
#listjs-wrapper {
	ul {
		padding:0px;
		margin: 0px;
	}
	label {
		@extend .filter-extend;
		position:relative;
	}
	.filter {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
	}
}